{% extends "base.html" %}
{% load static %}
{% block content %}
{% load dict_extras %}
{% include "season/_season_header.html" %}

<h3 class="mt-3">Money</h3>

<div class="table-responsive">
    {% for category, items in grouped_payouts.items %}
    {% if items %}
    <h5 class="mt-4">{{ category|capfirst }}</h5>

    <table class="table table-sm table-striped table-hover table-bordered align-middle text-center small-font">
        <thead class="table-dark">
            <tr>
                {% for col in category_columns|get_item:category %}
                <th>{{ col|capfirst }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for it in items %}
            <tr {% if it.recipient and user == it.recipient.user %}class="table-info" {% endif %}>
                {% for col in category_columns|get_item:category %}
                <td>
                    {% if col == "rank" %}
                    {{ it.rank|default:"" }}
                    {% elif col == "prize_pool" %}
                    {{ it.prize_pool.name|default:"" }}
                    {% elif col == "league" %}
                    {% if it.winning_pick and it.winning_pick.team and it.winning_pick.team.league %}
                    {{ it.winning_pick.team.league.code }}
                    {% else %}
                    &ndash;
                    {% endif %}
                    {% elif col == "player" %}
                    {% if it.recipient %}{{ it.recipient.user.username }}{% else %}&ndash;{% endif %}
                    {% elif col == "winning_pick" %}
                    {% if it.winning_pick and it.winning_pick.team %}{{ it.winning_pick.team.name }}{% else %}&ndash;{% endif %}
                    {% elif col == "points" %}
                    {{ it.points|floatformat:0|default:"" }}
                    {% elif col == "prize_value" %}
                    {% if it.prize_value is not None %}&pound;{{ it.prize_value|floatformat:0 }}{% else %}&ndash;{% endif %}
                    {% elif col == "type" %}
                    {% if it.winning_pick %}{{ it.winning_pick.pick_type|capfirst }}{% else %}&ndash;{% endif %}
                    {% elif col == "month" %}
                    {{ it.month|default:"" }}
                    {% endif %}
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
    {% endfor %}
</div>


{% endblock %}
