{% extends "base.html" %} 
{% load static %} 
{% load math_tags %}
{% block content %}
<!-- content starts here -->
<div class="container mx-auto p-4">

  <!-- score_predict/templates/score_predict/game_history.html -->
<h2>Game History</h2>

<form method="get">
    <label for="group">Select Group:</label>
    <select name="group" id="group" onchange="this.form.submit()">
        {% for group in groups %}
            <option value="{{ group.id }}" {% if group == selected_group %}selected{% endif %}>
                {{ group.name }}
            </option>
        {% endfor %}
    </select>
</form>

{% if games %}
    <table border="1" cellpadding="5" class="table table-hover">
        <thead>
            <tr class="table-primary">
                <th scope="col">Started</th>
                <th scope="col">Players</th>
                <th scope="col">Entry Fee</th>
                <th scope="col">Winner</th>
                <th scope="col">Prize</th>
                <th scope="col">View</th>
            </tr>
        </thead>
        <tbody>
            {% for game in games %}
                <tr scope="row">
                  <td>{{ game.game.template.start_date|date:"M d, Y" }}</td>
                  <td>{{ game.player_count }}</td>
                  <td>£{{ game.game.entry_fee }}</td>
                  <td>
                    {% with winners=game.game.winners.all %}
                        {% for winner in winners|slice:":3" %}
                        {{ winner.username }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                        {% if winners|length > 3 %}...{% endif %}
                    {% endwith %}
                  </td>
                  <td>£{{ game.prize_pot }}</td>
                  <td>
                  <a href="{% url 'game_detail' game.game.id %}" class="btn btn-primary">View</a>
                  </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No completed games for this group.</p>
{% endif %}


</div>
<!-- content ends here --> 
 {% endblock content %} 

